# Compiled Sources #
####################
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz

# Backup Files #
################
*.bib.bak

# Packages #
############
*.zip

# Documentation #
#################
*.pdf
*.ppt
*.pptx

